<app-header-setting title="Settings"></app-header-setting>

<ion-grid fixed class="ion-justify-content-evenly">
  <ion-row class="ion-justify-content-between">
    <app-profile-item></app-profile-item>
    <ion-col size="auto" class="ion-align-self-center">
      <ion-icon name="chevron-forward-outline"></ion-icon
    ></ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-between">
    @for (setting of settings; track setting) {
    <ion-col size="10" (click)="redirect(setting.redirect)">
      <ion-text> <h6>{{setting.name}}</h6> </ion-text></ion-col
    >
    <ion-col size="auto" class="ion-align-self-center">
      <ion-icon name="chevron-forward-outline"></ion-icon
    ></ion-col>
    }
  </ion-row>
  <ion-row>
    <ion-col size="auto" style="margin: auto">
      <app-log-out></app-log-out>
    </ion-col>
  </ion-row>
</ion-grid>
