.action-button {
    display: flex;
    flex-direction: column;
}

.favorite-container {
    border-bottom: inset;
    padding: 1rem 0;
}

ion-img::part(image) {
    border-radius: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}   