<app-header-category [title]="genre" [backButton]="true"></app-header-category>

<ion-content>
  <ion-grid fixed>
    @for(favorite of listFavorite; track favorite){
    <ion-row class="favorite-container">
      <ion-col (click)="openModal()">
        <ion-img [src]="favorite.cover"></ion-img>
      </ion-col>
      <ion-col (click)="openModal()">
        <p>{{favorite.title}}</p>
        <p>{{favorite.artist}}</p>
        <p>{{favorite.nbSong}}</p>
      </ion-col>
      <ion-col class="action-button ion-justify-content-between ion-align-items-end">
        <ion-row>
          <app-song-option id="{{favorite.id}}"></app-song-option>
        </ion-row>
        <ion-row>
          <app-like-song></app-like-song>
          <app-share-song id="{{favorite.id}}"></app-share-song>
        </ion-row>
      </ion-col>
    </ion-row>
    }
  </ion-grid>
</ion-content>