.new-album {
    background: #15AB90;
    color: white;
    padding: 5%;
    border-radius: 20px;
    width: 90%;
    margin: 5% auto; 
    display: flex;
    align-items: center; 
    justify-content: space-between; 

    h2 {
      font-size: 24px; 
    }

    p {
      font-size: 16px; 
    }

    #see-new-album {
      color: white;
      font-size: 24px;
    }

    ion-col {
      display: flex;
      flex-direction: column;
      justify-content: center; 
      height: 100%; 
    }

    .album-photo {
      width: 100%;
      height: auto;
    }
}
