<ion-grid class="section-with-dropdown-container">
  <ion-row class="top-songs">
    <ion-col style="margin-left: 20px">{{ title }}</ion-col>
    <ion-col class="see-all"
      ><app-see-all [redirectTo]="redirectTo"></app-see-all
    ></ion-col>
  </ion-row>
  <ion-content [scrollY]>
    <ion-list>
      @for (item of items; track $index) {
      <ion-row>
        <ion-col>
          @if (component === 'playlist-container') {
          <app-playlist-container
            nbSong="{{ item.nbSong }}"
            playlistName="{{ item.playlistName }}"
            cover="{{ item.cover }}"
            playlistId="{{ item.playlistId }}"
          ></app-playlist-container>
          }@else if(component === 'music-container'){
          <app-music-container
            cover="{{ item.cover }}"
            musicName="{{ item.title }}"
            duration="{{ item.duration }}"
            artistName="{{ item.artist }}"
            id="{{ item.id }}"
          >
          </app-music-container>
          }
        </ion-col>
      </ion-row>
      }
    </ion-list>
  </ion-content>
</ion-grid>
