.title-centered {
  position: absolute; /* Permet de centrer le titre par rapport au toolbar */
  left: 50%;
  transform: translateX(
    -50%
  ); /* Corrige le décalage pour un centrage parfait */
  text-align: center;
}

ion-toolbar {
  position: relative; /* Nécessaire pour que le positionnement absolu fonctionne */
  height: 8.5vh;
  display: flex;
}

app-back-button,
app-filter-option {
  display: flex;
  align-items: center; /* Centre verticalement les boutons */
}
