<ion-header>
  <ion-toolbar>
    <ion-grid fixed>
      <ion-row class="ion-align-items-center ion-justify-content-between">
        <!-- Bouton de retour -->
        <ion-col size="auto">
          @if (this.backButton) {
          <app-back-button class="ion-padding-vertical"></app-back-button>
          }
        </ion-col>

        <!-- Titre centré -->
        <ion-col class="ion-text-center">
          <ion-title>{{ title }}</ion-title>
        </ion-col>

        <!-- Filtre aligné à droite -->
        <ion-col size="auto">
          @if (filter) {
          <app-filter-option></app-filter-option>
          }
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
