.account-container{
    padding: 2vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.profile-info {
    flex: 1 0 33.33%; /* Prend 1/3 de la hauteur totale */
  }

.profile-edit {
    flex: 1 0 8.66; /* Prend 1/3 de la hauteur totale */
}
.profile-playlist {
    flex: 1 0 33.33%; /* Prend 1/3 de la hauteur totale */
}
