<ion-grid fixed>
  @for(playlist of playlists; track playlist){
  <app-playlist-container
    nbSong="{{ playlist.nbSong }}"
    playlistName="{{ playlist.title }}"
    cover="{{ playlist.cover }}"
    playlistId="{{ playlist.id }}"
  ></app-playlist-container>
  } @for(music of musicList; track music){
  <app-music-container
    cover="{{ music.cover }}"
    musicName="{{ music.title }}"
    duration="{{ music.duration }}"
    artistName="{{ music.title }}"
    id="{{ music.id }}"
  ></app-music-container>
  }
</ion-grid>
