.mini-player {
  background-color: #15ab90;
  height: fit-content;
  border-radius: 10px 10px 0 0;
  position: relative;
  z-index: 99;
}

ion-icon {
  color: aliceblue;
}

ion-img {
  width: 50%;
}

ion-row,
ion-col {
  height: 7vh;
}

p {
  color: black;
}

app-music-nav-bar .player-container ion-grid {
  padding: 0;
}