<ion-header>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="4" class="ion-align-self-center"><app-back-button
          class="ion-padding-vertical"></app-back-button></ion-col>
      <ion-col size="4" class="ion-align-self-center"><ion-text>
          <h1 class="ion-text-center">{{title}}</h1>
        </ion-text></ion-col>

      <ion-col size="4" class="ion-align-self-center" (click)="save()"><ion-text>
          @if (this.saveData) { <h4 class="ion-text-end">Save</h4>}
        </ion-text></ion-col>
    </ion-row>
  </ion-grid>
</ion-header>