<ion-grid fixed>
  <ion-row>
    <ion-col size="12"
      ><app-header-setting title="Song Managements"></app-header-setting
    ></ion-col>
  </ion-row>
  <ion-content>
    <ion-row>
      <ion-col size="12">
        <ion-list>
          @for (song of songs; track $index) {
          <ion-row>
            <ion-col>
              <app-music-container
                [cover]="song.cover"
                [musicName]="song.title"
                [duration]="song.duration"
                artistName=""
                [id]="song.artistId"
              >
              </app-music-container>
            </ion-col>
          </ion-row>
          }
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-button
      slot="fixed"
      (click)="openModalAddSong()"
      expand="block"
      fill="solid"
      shape="round"
    >
      Add Song
    </ion-button>
  </ion-content>
</ion-grid>
