<ion-grid fixed>
  <ion-row class="ion-align-items-center">
    <!-- Bouton "Annuler" aligné à droite -->
    <ion-col
      size="3"
      class="ion-text-right ion-align-self-center ion-padding-horizontal"
    >
      <ion-text>
        <app-back-button></app-back-button>
      </ion-text>
    </ion-col>
    <!-- Icône de recherche -->

    <!-- Champ de recherche -->
    <ion-col size="auto" class="ion-padding-horizontal">
      <ion-input
        fill="outline"
        placeholder="Que souhaitez-vous écouter ?"
        (ionInput)="onSearchChange($event)"
      ></ion-input>
    </ion-col>
    <!-- <ion-col size="1" class="ion-align-self-center ion-no-padding">
      <ion-icon size="large" name="search-outline"></ion-icon>
    </ion-col> -->
  </ion-row>
</ion-grid>
