<ion-grid fixed>
  <ion-row>
    <ion-col size="auto" class="ion-align-self-center"
      ><ion-icon size="large" name="search-outline"></ion-icon
    ></ion-col>
    <ion-col size="6" class="ion-padding-horizontal"
      ><ion-input
        fill="outline"
        placeholder="Que souhaitez-vous écouter ?"
      ></ion-input
    ></ion-col>
    <ion-col
      size="auto"
      class="ion-padding ion-align-self-center"
      (click)="returnHome()"
      ><ion-text>
        <h6>Annuler</h6>
      </ion-text></ion-col
    >
  </ion-row>
</ion-grid>
