<ion-grid fixed>
  <ion-row class="ion-align-items-center">
    <!-- Icône de recherche -->
    <ion-col size="1" class="ion-align-self-center ion-no-padding">
      <ion-icon size="large" name="search-outline"></ion-icon>
    </ion-col>

    <!-- Champ de recherche -->
    <ion-col size="8" class="ion-padding-horizontal">
      <ion-input
        fill="outline"
        placeholder="Que souhaitez-vous écouter ?"
      ></ion-input>
    </ion-col>

    <!-- Bouton "Annuler" aligné à droite -->
    <ion-col
      size="3"
      class="ion-text-right ion-align-self-center ion-padding-horizontal"
    >
      <ion-text>
        <h6>Annuler</h6>
      </ion-text>
    </ion-col>
  </ion-row>
</ion-grid>
