<ion-grid fixed [class.modal-open]="isModalOpen">
  <app-research (searchChange)="onSearchTermChange($event)"></app-research>
  <ion-content>
    <ion-row>
      <ion-col size="12">
        <ion-grid fixed>
          @if (artistLists.length > 0) { @for (artist of artistLists; track
          $index) {
          <ion-row>
            <ion-col size="12"
              ><app-artist-container
                [cover]="artist.cover"
                [artistName]="artist.name"
              ></app-artist-container>
            </ion-col>
          </ion-row>

          } } @if (musicPlaylist.length > 0) { @for (music of musicPlaylist;
          track $index) {
          <ion-row>
            <ion-col size="12"
              ><app-music-container
                [title]="music.title"
                [duration]="music.duration"
                [cover]="music.cover"
                [artistName]="music.title"
                [id]="music.id"
              ></app-music-container>
            </ion-col>
          </ion-row>

          } } @if (listPlaylistes.length > 0) { @for (playlist of
          listPlaylistes; track playlist) {
          <ion-row>
            <ion-col size="12"
              ><app-playlist-container
                nbSong="{{playlist.nbSong}}"
                playlistName="{{playlist.title}}"
                cover="{{playlist.cover}}"
                playlistId="{{playlist.id}}"
              ></app-playlist-container
            ></ion-col>
          </ion-row>
          } }@if (listPlaylistes.length === 0 && musicPlaylist.length === 0 &&
          artistLists.length === 0){
          <ion-row class="empty-result">
            <ion-col size="12">
              <ion-text class="ion-text-center">
                <h1>Ecoutez la musique que vous aimez</h1>
                <h4>Artistes,titres,playlist et bien plus encore</h4>
              </ion-text></ion-col
            >
          </ion-row>
          }
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-content>
</ion-grid>
