<ion-row style="display: flex; flex-direction: row; width: 100%">
  <ion-img [src]="cover" (click)="openPlayer()"></ion-img>
  <div
    (click)="openPlayer()"
    style="
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 65%;
    "
  >
    <div class="music-name ion-text-center">
      <h6>{{ musicName }}</h6>
      <br />
      <h6>{{ artistName }}</h6>
    </div>
    <div class="music-name ion-text-center">
      <h6>{{ duration }}</h6>
    </div>
  </div>
  <app-song-option
    (click)="openSetting()"
    class="music-settings ion-align-self-center"
  ></app-song-option>
</ion-row>
