<app-header-setting title="About"></app-header-setting>

<ion-grid fixed>
  <ion-row class="ion-justify-content-between">
    <ion-col size="6"><ion-text>
        <h6>Version</h6>
      </ion-text></ion-col>
    <ion-col size="6"><ion-text>
        <h6 class="ion-text-end">{{version}}</h6>
      </ion-text></ion-col>
  </ion-row>
</ion-grid>

<ion-grid fixed>
  <ion-row class="ion-justify-content-center">
    <ion-col size="6">
      <ion-text>
        <h6 class="ion-text-center">Version</h6>
      </ion-text>
    </ion-col>

  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col size="6">
      <ion-text>
        <h6 class="ion-text-center">Version</h6>
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col size="6">
      <ion-text>
        <h6 class="ion-text-center">Version</h6>
      </ion-text>
    </ion-col>

  </ion-row>
</ion-grid>