<ion-content>
  <ion-grid fixed class="ion-justify-content-center ion-padding-start">
    <ion-row>
      <ion-col><ion-button (click)="cancel()" fill="outline">
          <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon> </ion-button></ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="ion-align-items-start quick-container">
    <ion-row (click)="cancelAndRedirect('home/account')">
      <ion-col class="ion-align-self-center"><ion-avatar>
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar></ion-col>
      <ion-col><ion-text>
          <h6>Name <br />ViewProfile</h6>
        </ion-text></ion-col>
    </ion-row>
    <ion-row (click)="cancelAndRedirect('new')">
      <ion-col class="ion-align-self-center" size="auto"><ion-icon size="large"
          name="flash-outline"></ion-icon></ion-col>
      <ion-col size="auto"><ion-text>
          <h4>What's new</h4>
        </ion-text></ion-col>
    </ion-row>
    <ion-row (click)="cancelAndRedirect('history')">
      <ion-col class="ion-align-self-center" size="auto"><ion-icon size="large"
          name="timer-outline"></ion-icon></ion-col>
      <ion-col size="auto"><ion-text>
          <h4>Listening history</h4>
        </ion-text></ion-col>
    </ion-row>
    <ion-row (click)="cancelAndRedirect('home/settings-menu')">
      <ion-col class="ion-align-self-center" size="auto"><ion-icon size="large"
          name="settings-outline"></ion-icon></ion-col>
      <ion-col size="auto"><ion-text>
          <h4>Setting and privacy</h4>
        </ion-text></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>