

<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <ion-list class="bg-transparent">
    <ion-item>
      <ion-input type="email" formControlName="email" name="email" label="Email" labelPlacement="floating"
        placeholder="mike@mike.mike"></ion-input>
    </ion-item>
    @if(form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)){
    <div>
      @if(form.get('email')?.errors?.['required'] ){
      <p class="error"><ion-icon name="alert-outline"></ion-icon>{{ 'auth.email_require'|translate }}</p>
      }
      @else if(form.get('email')?.errors?.['pattern'] ){
      <p class="error"><ion-icon name="alert-outline"></ion-icon>{{ 'auth.email_format'|translate }}</p>
      }
    </div>
    }
    <ion-item>
      <ion-input type="password" formControlName="password" name="password" label="Password" labelPlacement="floating"
        placeholder="••••••••••••••"></ion-input>
    </ion-item>
    @if(form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)){
    <div>
      @if(form.get('password')?.errors?.['required'] ){
      <p class="error"><ion-icon name="alert-outline"></ion-icon>Password require</p>
      }
      @else if(form.get('password')?.errors?.['pattern'] ){
      <p class="error"><ion-icon name="alert-outline"></ion-icon>Format password invalid</p>
      }
      @else if(form.get('password')?.errors?.['minlength'] ){
      <p class="error"><ion-icon name="alert-outline"></ion-icon>Size password invalid</p>
      }
    </div>
    }
  </ion-list>
  <br>
  @if(error){
  <p class="error"><ion-icon name="alert-outline"></ion-icon>{{ error }}</p>
  }
  <br>
  <ion-button type="submit" [disabled]="!form.valid && !submitForm">Se Connecter</ion-button>
  <a (click)="onPasswordLostModal()">Mot de passe oublier ?</a>
  <a href="/auth/register">Pas encore inscrit ?</a>
  
</form>

