app-login{
  width: 100%;
}
form{
  padding: 0 5%;
  text-align: center;
  ion-list{
    padding-bottom: 5%;
    ion-item{
      --background: transparent;
    }
  }
  ion-button{
  --color: white;
    --background: #15AB90;
  }
  a{
    display: block;
    color: #15AB90;
  }
  .bg-transparent {
    background: transparent;
  }

}
