<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <ion-list class="bg-transparent">
    <ion-item>
      <ion-input
        type="email"
        formControlName="email"
        name="email"
        label="Email"
        labelPlacement="floating"
        placeholder="mike@mike.mike"
      ></ion-input>
    </ion-item>
    <div *ngIf="form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)">
      <div *ngIf="form.get('email')?.errors?.['required']">
        <p class="error">
          <ion-icon name="alert-outline"></ion-icon>
          {{ 'auth.email_require' | translate }}
        </p>
      </div>
      <div *ngIf="form.get('email')?.errors?.['pattern']">
        <p class="error">
          <ion-icon name="alert-outline"></ion-icon>
          {{ 'auth.email_format' | translate }}
        </p>
      </div>
    </div>
    
    <ion-item>
      <ion-input
        type="password"
        formControlName="password"
        name="password"
        label="Password"
        labelPlacement="floating"
        placeholder="••••••••••••••"
      ></ion-input>
    </ion-item>
    <div *ngIf="form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)">
      <div *ngIf="form.get('password')?.errors?.['required']">
        <p class="error">
          <ion-icon name="alert-outline"></ion-icon>
          Password required
        </p>
      </div>
      <div *ngIf="form.get('password')?.errors?.['pattern']">
        <p class="error">
          <ion-icon name="alert-outline"></ion-icon>
          Invalid password format
        </p>
      </div>
      <div *ngIf="form.get('password')?.errors?.['minlength']">
        <p class="error">
          <ion-icon name="alert-outline"></ion-icon>
          Password length is invalid
        </p>
      </div>
    </div>
  </ion-list>
  
  <div *ngIf="error">
    <p class="error">
      <ion-icon name="alert-outline"></ion-icon>
      {{ error }}
    </p>
  </div>

  <br />

  <ion-button type="submit" [disabled]="!form.valid && !submitForm">Se Connecter</ion-button>

  <a href="/auth/register">Pas encore inscrit ?</a>
</form>
