<ion-item-divider>
  <ion-label class="ion-padding"
    >{{ lyrics }} <br /><br />Un jour je serai le meilleur dresseur <br />
    <br />
    Je me battrai sans répit Je ferai tout pour être vainqueur Et gagner les
    défis <br />
    <br />Je parcourrai la terre entière Traquant avec espoir <br />
    Les Pokémon et leurs mystères Le secret de leurs pouvoirs <br />
    <br /><br />(Refrain) <br />
    <br />Pokémon ! Attrapez les tous C'est notre histoire Ensemble pour la
    victoire Pokémon ! Rien ne nous arrêtera Notre amitié triomphera Pokémon !
    Attrapez les tous Même à notre âge ! Un voyage d'apprentissage Ça demande du
    courage ! Po-ké-mon ! Attrapez-les tous!, attrapez-les tous! Yeah ! Rien ni
    personne sur mon chemin Ne pourra me briser Car pour accomplir mon destin Je
    suis déterminé Quand il faudra passer à l'action Nos amis seront là Et tous
    ensemble nous gagnerons Le dernier des combats !
  </ion-label>
</ion-item-divider>
