<ion-grid fixed>
  <ion-row class="minimizePlayer">
    @if(minimizePlayerAudioService.isMiniPlayerVisible()){
    <app-minimize-player-audio
      style="position: relative; z-index: 99"
    ></app-minimize-player-audio>
    }
  </ion-row>
  <ion-row>
    <ion-tabs id="ion-tabs">
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
          <ion-icon aria-hidden="true" name="home"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="favorite">
          <ion-icon aria-hidden="true" name="heart"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="playlistes">
          <ion-icon aria-hidden="true" name="play"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="account" href="">
          <ion-icon aria-hidden="true" name="person"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-row>
</ion-grid>
