code .main-grid {
  height: 100vh;
  /* Hauteur totale de l'écran */
  display: flex;
  flex-direction: column;
}

.minimizePlayer {
  height: 60px;
  /* Hauteur fixe du mini player */
  flex-shrink: 0;
  /* Ne pas rétrécir même sur petits écrans */
  background-color: white;
  /* Personnalisation de l'arrière-plan */
}

.tabs-row {
  flex-grow: 1;
  /* Les tabs occupent tout l'espace restant */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* Les onglets vont rester en bas */
}

.mini-player {
  height: 8vh;
}