<ion-grid fixed class="main-grid">
  <ion-row class="tabs-row">
    <ion-tabs id="ion-tabs">
      @if(minimizePlayerAudioService.isMiniPlayerVisible()){
      <ion-tab-bar slot="bottom" class="mini-player">
        <app-minimize-player-audio></app-minimize-player-audio>
      </ion-tab-bar>
      }
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
          <ion-icon name="home-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="favorite">
          <ion-icon name="heart-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="playlistes">
          <ion-icon name="play-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="account">
          <ion-icon name="person-outline"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-row>
</ion-grid>