<ion-content [class.modal-open]="isModalOpen">
  <ion-grid class="home-page">
    <ion-row>
      <ion-col><app-search-bar></app-search-bar></ion-col>
    </ion-row>
    <ion-row class="">
      <app-new-song></app-new-song>
    </ion-row>
    <ion-row class="categories">
      <app-music-genres></app-music-genres>
    </ion-row>
    <ion-row class="top-songs">
      <app-top-songs [items]="songs"></app-top-songs>
    </ion-row>
    <ion-row class="top-songs">
      <app-last-played></app-last-played>
    </ion-row>
  </ion-grid>
</ion-content>
