<ion-grid fixed>
  <ion-row class="top-songs">
    <ion-col style="margin-left: 20px">Last Playeds</ion-col>
    <ion-col class="see-all"
      ><app-see-all redirectTo="/home/favorite"></app-see-all
    ></ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-row style="display: flex; flex-direction: row; width: 100%">
        <ion-img src="assets/avatar/album-photo.jpg"></ion-img>
        <div
          style="
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 65%;
          "
        >
          <div>
            Dusty Played <br />
            Jacob presse
          </div>
          <div>5.33</div>
        </div>
        <app-song-option></app-song-option>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-row style="display: flex; flex-direction: row; width: 100%">
        <ion-img src="assets/avatar/album-photo.jpg"></ion-img>
        <div
          style="
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 65%;
          "
        >
          <div>
            Dusty Played <br />
            Jacob presse
          </div>
          <div>5.33</div>
        </div>
        <app-song-option></app-song-option>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
