<ion-grid fixed class="ion-padding-horizontal">
  <ion-row class="ion-justify-content-between">
    <ion-col size="6">
      <ion-button shape="round" (click)="openQuickMenu()">
        <ion-icon slot="icon-only" name="flash-outline"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="6" class="ion-text-end">
      <ion-button shape="round" fill="outline" (click)="redirectToSearchPage()">
        <ion-icon
          slot="icon-only"
          name="search-outline"
        ></ion-icon> </ion-button
    ></ion-col>
  </ion-row>
</ion-grid>
