<ion-header>
  <ion-grid fixed>
    <ion-row class="ion-justify-content-between center-row">
      @if (this.backButton) {
      <ion-col size="auto" class="ion-align-self-center">
        <app-back-button class="ion-padding-vertical"></app-back-button>
      </ion-col>
      }
      <ion-col size="auto" class="ion-align-self-center centered-col"
        ><ion-text>
          <h1 class="ion-text-center">{{ title }}</h1>
        </ion-text></ion-col
      >
      @if (filter) {
      <ion-col
        size="auto"
        class="ion-align-self-center ion-justify-content-end"
        (click)="openOption()"
      >
        <app-filter-option></app-filter-option>
      </ion-col>
      }
    </ion-row>
  </ion-grid>
</ion-header>
