<ion-content>
  <app-header-setting
    title="edit profil"
    [saveData]="true"
  ></app-header-setting>
  <ion-row class="ion-justify-content-center ion-margin">
    <ion-col size="6" class="ion-avatar-container">
      <ion-avatar class="avatar">
        <img
          alt="Silhouette of a person's head"
          src="https://ionicframework.com/docs/img/demos/avatar.svg"
        />
      </ion-avatar>
    </ion-col>
  </ion-row>
  <ion-item>
    <ion-input label="Name" value="Ryan"></ion-input>
  </ion-item>
</ion-content>
