/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import '@ionic/angular/css/palettes/dark.system.css';


/**
 * Class Global
 * -----------------------------------------------------
 */

:root {
  --custom-success: #15AB90;
  /* Couleur personnalisée */
}

img {
  width: 100%;
}

.center {
  text-align: center;
}

.pad-25 {
  padding-top: 25%;
  padding-bottom: 25%;
}

.pad-35 {
  padding-top: 35%;
  padding-bottom: 35%;
}

.pad-50 {
  padding-top: 50%;
  padding-bottom: 50%;
}

.error {
  color: red;

  ion-icon {
    color: red;
  }
}

p,
h1,
h2,
h3 {
  margin: 0;
}

.ColorGreenBtn {
  --color: white;
  --background: var(--custom-success);
  --background-activated: var(--custom-success) --background-focused: var(--custom-success);
  --background-hover: var(--custom-success);
}

.custom-modal-class{
  --height:100%;
  --background: transparent !important;
}

.custom-modal-filter{
  --height:auto;
}
.modal-open{
  filter: blur(20px)!important;
}


.modal-language-settings {
  --height: 35%;
  --width: 80%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.modal-language-settings::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

.modal-language-settings ion-toolbar {
  --background: rgb(14 116 144);
  --color: white;
}


ion-img {
  width: 100%;
}

.relative-row {
  position: relative;
}

.centered-col {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.left-col {
  position: absolute;
  left: 25%;
  transform: translateX(-25%);
}

.right-col {
  position: absolute;
  left: 75%;
  transform: translateX(-75%);
}

