ion-grid {
  width: 100%;
}

.top-songs {
  width: 100%;
  margin-bottom: 10%;
  align-items: center;
  margin: 0;

  ion-row {
    width: 100%;
    display: flex;
    margin: 0;
  }

  .see-all {
    text-align: right;
    margin-right: 20px;
  }

  ion-col {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    //align-items: center;
  }
}
.song {
  ion-row {
    ion-col {
      ion-img::part(image) {
        border-radius: 10px;
        width: 100%;
        // margin-left: auto;
        // margin-right: auto;
      }
      p {
        text-align: center;
        margin: 0;
        overflow: hidden;
        font-size: 1rem;
      }
    }
  }
}

.scroll-content {
  height: 50vh;
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
}

.song {
  display: inline-block;
  font-size: x-large;
  margin-right: 10px; /* Espacement entre les éléments */
  box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur totale */
  text-align: center; /* Centre le texte à l'intérieur de chaque élément */
}

.scroll-container::after {
  content: "";
  flex: 0 0 10px; /* Dernière marge droite de 10px pour la dernière colonne */
}

.title-top-song {
  margin-left: 20px;
}
